<!DOCTYPE html>
<html>
<head>
	<title>Page not Found!</title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="">
</div>
<div class="span12 well" style="margin-left : 10%; margin-top : 10%">
	<h1 class="muted">Дуже шкода, але такої сторінки не знайдено!  :(</h1>
 	<div>
		<img src="app/images/beast-404.png" alt="" style="position : relative; left: 500px">
		<img id="beast404le" src="app/images/beast-404_LE.png" alt="" style="position : relative; left: 400px; bottom:130px">
		<img id="beast404re" src="app/images/beast-404_RE.png" alt="" style="position : relative; left: 280px; bottom:150px" >
	</div>
</div>
</body>
</html>